{% extends "base.html" %}

{% block content %}
    <h1 class="my-4">Complete Assessments</h1>
    
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <!-- Check if there are any completed assessments to display -->
    {% if assessments %}
        <ul class="list-group">
            {% for assessment in assessments %}
                <li class="list-group-item">
                    <h4>{{ assessment.title }}</h4>
                    <p>Module Code: {{ assessment.module_code }}</p>
                    <p>Deadline: {{ assessment.deadline }}</p>
                    <p>Description: {{ assessment.description }}</p>
                    <p>Status: Completed</p>
                    <!-- Add a form to mark as incomplete -->
                    <form action="{{ url_for('views.incomplete_button', id=assessment.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-primary" style="background-color: gray;">Mark as Incomplete</button>
                    </form>

                    <a href="{{ url_for('views.edit_assessment', id=assessment.id) }}" class="btn btn-warning">Edit Assessment</a>
                    <a href="{{ url_for('views.delete_assessment', id=assessment.id) }}" class="btn btn-danger">Delete Assessment</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>All assessments are incomplete!</p> <!-- Or a suitable message if no complete assessments -->
    {% endif %}
{% endblock %}