<!-- The template for the homepage -->
{% extends "base.html" %}

{% block content %}
<h1 class="my-4">All Available Assessments:</h1>

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
            <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if assessments %}
    {% for assessment in assessments %}
        <ul class="list-group">
            <li class="list-group-item">
                <h4>{{ assessment.title }}</h4>
                <p>Module Code: {{ assessment.module_code }}</p>
                <p>Deadline: {{ assessment.deadline.strftime('%d-%m-%Y') }}</p>
                <p>Description: {{ assessment.description }}</p>
                <p>Status: {{ 'Completed' if assessment.completed else 'Incomplete' }}</p>

                {% if not assessment.completed %}
                    <form action="complete_button" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-success">Mark as Complete</button>
                    </form>
                {% endif %}
                {% if assessment.completed %}
                    <form action="incomplete_button" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-secondary">Mark as Incomplete</button>
                    </form>
                {% endif %}

                <a href="edit_assessment" class="btn btn-warning">Edit Assessment</a>
                <a href="delete_assessment" class="btn btn-danger">Delete Assessment</a>
            </li>
        </ul>
    {% endfor %}

{% else %}
    <p>There are currently no assessments!</p>
{% endif %}

{% endblock %}
