<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
    <!--  current_user.is_authenticated %} -->
    {% if request.path != '/login' and request.path != '/signup' %}
    <nav class="navbar">
        <a class="navbar-logo" href="{{ url_for('dashboard') }}">SeifClub</a>
    <ul class="navbar-list">
        <li><a href="/dashboard"><i class="bi bi-house-door-fill"></i></a></li>
        <li><a href="{{ url_for('profile', username=current_user.username) }}" class="navbar-buttons"><i class="bi bi-person"></i></li>

    <!-- Search Section NO CSS -->
     <li>
        <div class="search-container">
            <form method="GET" action="/search">
                <input type="text" placeholder="Search" name="query">
                <button type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </li>
</ul>

    <a href="/logout" class="logout-button"><i class="bi bi-box-arrow-left"></i></a>
   
</nav>

    {% endif %}

        {% block content %}

        {% endblock %}

</body>
</html>
