<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!--  current_user.is_authenticated %} -->
    {% if request.path != '/login' and request.path != '/signup' %}
    <nav class="navbar">
        <a class="navbar-logo" href="{{ url_for('dashboard') }}">SafeHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <ul class="navbar-list">
        <li><a href="/dashboard" class="navbar-buttons"><img src="{{ url_for('static', filename='pics/home-icon.png') }}" class="icons" alt="Home"></a></li>
        <li><a href="{{ url_for('profile', username=current_user.username) }}" class="navbar-buttons"><img src="{{ url_for('static', filename='pics/profile-icon.png') }}" class="icons" alt="Profile"></a></li>

    <!-- Search Section -->
     <li>
    <div class="search-container">
        <form method="GET" action="/search">
            <div class="search-bar">
                <input type="text" placeholder="Search" name="query">
                <button type="submit" class="navbar-buttons" ><img src="{{ url_for('static', filename='pics/search-icon.png') }}" class="icons" alt="Search"></button>
            </div>
        </form>
    </div>
    </li>
     </ul>

    <a href="/logout" class="logout-button"><img src="{{ url_for('static', filename='pics/logout-icon.png') }}" class="icons" alt="Logout"></a>
   
</nav>

    {% endif %}

        {% block content %}

        {% endblock %}

</body>
</html>
