<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!--  current_user.is_authenticated %} -->
    {% if request.path != '/login' and request.path != '/signup' %}
    <nav class="navbar">
        <a class="navbar-logo" href="{{ url_for('dashboard') }}">SafeHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-list">
        <li><a href="{{ url_for('dashboard') }}" class="navbar-buttons"><img src="{{ url_for('static', filename='pics/home-icon.png') }}" class="icons" alt="Home"></a></li>
        <li><a href="{{ url_for('profile') }}" class="navbar-buttons"><img src="{{ url_for('static', filename='pics/profile-icon.png') }}" class="icons" alt="Profile"></a></li>
        <li><a href="{{ url_for('logout') }}" class="navbar-buttons"><img src="https://example.com/home-icon.png" class="icons" alt="Logout"></a></li>
        <!-- <li><a href="{{ url_for('logout') }}" class="navbar-buttons"><img src="https://example.com/home-icon.png" class="icons" alt="Search"></a></li> -->
        <li class="search-container">
            <a class="navbar-buttons"><img src="{{ url_for('static', filename='pics/search-icon.png') }}" class="icons" alt="Search"></a>
            <div class="search-bar">
                <form method="GET" action="{{ url_for('search') }}">
                    <input type="text" placeholder="Search users..." name="query">
                    <button type="submit">Search</button>
                </form>
            </div>
        <!-- <li class="navbar-search">
            <form method="GET" action="{{ url_for('search') }}">
                <input type="text" placeholder="Search users..." name="query">
                <button type="submit"><img src="{{ url_for('static', filename='pics/search-icon.png') }}" alt="Search"></button>
            </form>
        </li> -->
    </ul>
</nav>
    {% endif %}

        {% block content %}

        {% endblock %}

</body>
</html>
