{% extends "base.html" %}

{% block title %}Explore{% endblock %}

{% block content %}
<div class="content-container">
    <h1 class="page-header text-center mb-4"><strong>SeifClub</strong></h1>

    <!-- Search Bar -->
    <div class="text-center mb-4">
        <form method="GET" action="/search" class="d-inline-block" style="max-width: 600px; width: 100%;">
            <label for="searchQuery" class="form-label visually-hidden">Search for a user</label>
            <input type="text" placeholder="Search for a post or user..." name="query" class="form-control mb-2" required>
            <button type="submit" class="btn btn-outline-primary search-button"><i class="bi bi-search"></i> Search</button>
        </form>
    </div>

    <!-- Posts Grid -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for post in posts %}
        <div class="col">
            <a href="{{ url_for('view_post', post_id=post.id) }}" class="text-decoration-none text-dark">
                <div class="card h-100" style="height: 500px; max-width: 350px; margin: auto;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title fs-4 fs-md-5 fs-lg-6">
                            {% if post.image_url %}
                            {{ post.content[:50] }}...
                            {% else %}
                            {{ post.content }}
                            {% endif %}
                        </h5>
                    </div>
                    {% if post.image_url %}
                    <div style="overflow: hidden; height: 300px;">
                        <img src="{{ url_for('static', filename=post.image_url) }}" alt="Post Image"
                            class="card-img-top img-fluid h-100 w-100" style="object-fit: cover;">
                    </div>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
