{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <div class="container mt-5 search-results-container">
        <h1 class="text-center text-white">Search Results for "{{ query }}"</h1>
        <div class="row justify-content-center mt-4">
        {% if results %}
        <div class="w-75">
            {% for user in results %}
            <a href="{{ url_for('view_profile', user_id=user.id) }}" class="list-group-item list-group-item-action bg-secondary text-white rounded-3 mb-2">
                <strong>{{ user.username }}</strong>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-center text-white mt-4">No users found matching your search query.</p>
        {% endif %}
    </div>
{% endblock %}


